[submodule "rocketgithub/l10n_gt_extra"]
	path = rocketgithub/l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 11.0

[submodule "rocketgithub/kardex"]
	path = rocketgithub/kardex
	url = git@github.com:rocketgithub/kardex.git
	branch = 11.0

[submodule "rocketgithub/importaciones"]
	path = rocketgithub/importaciones
	url = git@github.com:rocketgithub/importaciones.git
	branch = 12.0

[submodule "rocketgithub/bolson"]
	path = rocketgithub/bolson
	url = git@github.com:rocketgithub/bolson.git
	branch = 11.0
