
[submodule "rocketgithub/rrhh"]
	path = rocketgithub/rrhh
	url = https://github.com/rocketgithub/rrhh.git
	branch = 11.0
[submodule "rocketgithub/bolson"]
	path = rocketgithub/bolson
	url = https://github.com/rocketgithub/bolson.git
	branch = 11.0
[submodule "rocketgithub/importaciones"]
	path = rocketgithub/importaciones
	url = https://github.com/rocketgithub/importaciones.git
	branch = 12.0
[submodule "rocketgithub/l10n_gt_extra"]
	path = rocketgithub/l10n_gt_extra
	url = https://github.com/rocketgithub/l10n_gt_extra.git
	branch = 11.0
[submodule "rocketgithub/kardex"]
	path = rocketgithub/kardex
	url = https://github.com/rocketgithub/kardex.git
	branch = 11.0
[submodule "rocketgithub/asistelibros"]
	path = rocketgithub/asistelibros
	url = https://github.com/rocketgithub/asistelibros.git
	branch = 11.0
[submodule "rocketgithub/fel_gt"]
	path = rocketgithub/fel_gt
	url = https://github.com/rocketgithub/fel_gt.git
	branch = master
[submodule "rocketgithub/fel_infile"]
	path = rocketgithub/fel_infile
	url = https://github.com/rocketgithub/fel_infile.git
	branch = master
[submodule "rocketgithub/fel_infile_nit"]
	path = rocketgithub/fel_infile_nit
	url = https://github.com/rocketgithub/fel_infile_nit.git
	branch = master
