[submodule "rocketgithub/l10n_gt_extra"]
	path = rocketgithub/l10n_gt_extra
	url = git@github.com:rocketgithub/l10n_gt_extra.git
	branch = 11.0

[submodule "rocketgithub/kardex"]
	path = rocketgithub/kardex
	url = git@github.com:rocketgithub/kardex.git
	branch = 11.0
